:root {
    ---open: "Open Sans", sans-serif;
    ---poppins: Poppins, sans-serif;
    ---main_color: #f28123;
    ---sec_color: #051922
  }

  .brands-container{
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brands-carousel{
    width: 80%;
    display: flex;
  }


  .brand-slide{
    width: 80%;
    height: 100%;

  }

  .brand{
    width: 4rem;
  }

  .brand img{
    width: 20rem;
    height: 100%;

  }
  