@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
}

:root {
  ---open: "Open Sans", sans-serif;
  ---poppins: Poppins, sans-serif;
  ---main_color: #f28123;
  ---sec_color: #051922
}

html {
  scroll-behavior: smooth;


}


.dim-overflow {
  overflow: hidden;
}



footer {
  max-height: 100rem;
}


.layout {
  width: 100%;
  max-height: 5000rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}




header {
  position: fixed;
  z-index: 12;
}



main {
  height: 100%;
  width: 100%;
  margin-bottom: 10rem;

}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 1rem;
  align-items: center;
  padding: 2rem 0rem;
  position: fixed;
  margin-top: 2rem;
  transition: .1s ease;


}


.navbar-container.active {
  background-color: var(---sec_color);
  position: fixed;
  margin-top: 0rem;

}





.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(---main_color);
  font-family: var(---open);

}


.logo-icon {
  font-size: 2.4rem;
  font-weight: 700;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-items-mobile {
  display: none;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  font-size: 14px;
  font-family: var(---open);
  font-weight: 700;
  transition: .4s ease-in-out;
  color: #ffffff
}

.nav-items li a:hover {
  color: var(---main_color)
}

.nav-items li a:focus{
  color: var(---main_color);
}

.hamburger-menu {
  display: none;
}

.close-menu {
  display: none;
}

.cart-search-nav {
  display: flex;
  justify-content: space-between;
  width: 12%;
  font-size: 18px;
  font-weight: 900;
}

.cart-nav,
.search-nav {
  transition: .4s ease-in-out;
  cursor: pointer;
  color: #ffffff
}

.search-nav {
  font-size: 1.3rem;
}

.cart-nav:hover,
.search-nav:hover {
  color: var(---main_color)
}

.cart-button,
.search-button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
}

.cart-item-qty {
  position: absolute;
  right: -17px;
  font-family: var(---open);
  top: -8px;
  font-size: 12px;
  color: #eee;
  background-color: var(---main_color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(---main_color);
  transform-origin: 0%;
  z-index: 14;
}

.back-to-top {
  position: absolute;
  right: 4rem;
  background-color: var(---main_color);
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem 1rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 12px 12px 12px 12px;
  cursor: pointer;
  transition: .5s ease;
}

.back-to-top:hover,
.back-to-top:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(---main_color);
  transform: translateY(-0.7em);
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

.arrow-up {
  font-size: 1.5rem;
}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(---main_color);
  }
}

/* .back-to-top:hover{
  transform: scale(1.1);
} */



.required-login-container {
  position: absolute;
  top: 40%;
  right: 35%;
box-shadow: 1px 2px 14px 1px var(---main_color);
  height: 12rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: white;
  z-index: 14;
  border-radius: .5rem;
}

.required-login-container p {
  font-size: 1.5rem;
  font-family: var(---poppins);
  color: var(---sec_color);
  font-weight: 600;
}

.required-login-container button {
  width: 12rem;
  height: 2.5rem;
  border-radius: .5rem;
  border: none;
  font-size: 1rem;
  font-family: var(---poppins);
  color: white;
  background-color: var(---main_color);
  font-weight: 600;
  cursor: pointer;
  transition: .6s ease-in-out;
}

.required-login-container button:hover {
  background-color: var(---sec_color);
  color: var(---main_color);
  transform: scale(1.1);
}

.cart-dim {
  z-index: 13;
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  overflow-y: hidden;

}



.cart-dim.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s ease;
}

.sign{
  font-size: 1.2rem;
  font-family: var(---open);
  font-weight: 600;
  color: var(---sec_color);
}

.sign-in-button{
  background-color: var(---main_color);
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .9rem;
  transition: .6s ease-in-out;
  cursor: pointer;
}

.sign-in-button:hover{
  background-color: var(---sec_color);
  color: var(---main_color);
  transform: scale(1.1);
  border: 1px solid var(---main_color);
}



.sign-in-button a{
  text-decoration: none;
  font-size: 14px;
  font-family: var(---poppins);
  font-weight: 700;
  transition: .4s ease-in-out;
  color: #ffffff
}

.sign-out-button {
  text-decoration: none;
  font-size: 14px;
  font-family: var(---poppins);
  font-weight: 700;
  transition: .4s ease-in-out;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid var(---main_color);
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .9rem;
  transition: .6s ease-in-out;
  cursor: pointer;
}

.sign-out-button:hover{
  transform: scale(1.1);
}

.sign-in-button-mobile{
  display: none;
}


.sign-out-button-mobile{
  display: none;
}

/* success page */
.success-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-icon{
  font-size:3rem;
  color: green
}

.success-wrapper{
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 26rem;
 justify-content: center;
  background-color: rgb(212, 209, 209);
  
}

.success-wrapper h1{
  font-size: 2.5rem;
  font-family: var(---poppins);
  color: var(---sec_color);
  font-weight: 700;
}

.success-wrapper p {
  font-size: 1rem;
  font-family: var(---poppins);
  color: var(---sec_color);
  font-weight: 600;
}

.questions span{
  color: var(---main_color);
  cursor: pointer;
}
.success-continue-shopping-button {
  width: 17rem;
  height: 2.5rem;
  border-radius: .6rem;
  font-size: 17px;
  font-weight: 600;
  font-family: var(---poppins);
  background-color: var(---main_color);
  letter-spacing: .17rem;
  border: none;
  color: white;
  transition: .4s ease-in-out;
  cursor: pointer;
}



.success-continue-shopping-button:hover{
  color: var(---main_color);
  background-color: var(---sec_color);
  transform: scale(1.1);
}



@media (max-width:1300px) {

  .nav-items {
    width: 40%;
  }
  .success-wrapper{
    width: 80%;
  }
}

@media (max-width:992px) {


  header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: static;
    z-index: 45;
  }

  .navbar-container {
    width: 95%;
    justify-content: space-between;
    position: absolute;
    z-index: 12;

  }

  .navbar-container.active {

    position: static;
    margin-top: 0rem;


  }





  .nav-items {
    display: none;
  }

  .nav-items-mobile {
    display: flex;
    flex-direction: column;
    background-color: var(---sec_color);
    position: absolute;
    height: 55vh;
    width: 100%;
    top: 4.5rem;
    padding: 1rem 0rem;
    animation: hamburger .5s ease-in;
    border-radius: 1rem;

  }


  @keyframes hamburger {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }

    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .nav-items-mobile li {
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom: 1px solid rgb(134, 117, 84);
    padding: 1.9rem 0rem;
  }

  .nav-items-mobile li {
    list-style: none;
  }

  .nav-items-mobile li a {
    text-decoration: none;
    font-size: 14px;
    font-family: var(---open);
    font-weight: 700;
    transition: .4s ease-in-out;
    color: #ffffff
  }

  .nav-items-mobile li a:hover {
    color: var(---main_color)
  }


  .hamburger-menu {
    color: var(---sec_color);
    background-color: var(---main_color);
    padding: .5rem .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: block;
    transition: 1s ease;
    border-radius: .7rem;
  }

  .close-menu {
    color: var(---sec_color);
    background-color: var(---main_color);
    padding: .5rem .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: block;
    transition: 1s ease;
    display: block;
    border-radius: .7rem;
  }

  .cart-search-nav {
    width: 15%;
  }

.user-account-mobile{
  display: flex;
  align-items: center;
}

  .sign-in-button-mobile,  .sign-out-button-mobile{
    display: block;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  .sign-in-button{
    display: none;
  }

  .sign-out-button{
    display: none;
  }

  .back-to-top {
    bottom: 80rem;
  }

.success-wrapper{
  width: 80%;
}


}

@media (max-width:768px) {

  .cart-search-nav {
    width: 25%;
  }

  .success-wrapper h1{
    font-size: 1.5rem;
    font-family: var(---poppins);
    color: var(---sec_color);
    font-weight: 700;
  }
  
  .success-wrapper p {
    font-size: .7rem;
    font-family: var(---poppins);
    color: var(---sec_color);
    font-weight: 600;
  }
  
  .questions span{
    color: var(---main_color);
    cursor: pointer;
  }


}

@media (max-width:500px) {

  .cart-search-nav {
    width: 35%;
  }

  .back-to-top {
    bottom: 90rem;
  }

  .success-wrapper{
    width: 90%;
  }

  .success-wrapper h1{
    font-size: 1.2rem;
    font-family: var(---poppins);
    color: var(---sec_color);
    font-weight: 700;
  }
  
  .success-wrapper p {
    font-size: .6rem;
    font-family: var(---poppins);
    color: var(---sec_color);
    font-weight: 600;
  }
  
  .questions span{
    color: var(---main_color);
    cursor: pointer;
  }

  .success-continue-shopping-button {
    width: 14rem;
    height: 2.5rem;
    border-radius: .6rem;
    font-size: 13px;
    font-weight: 600;
    font-family: var(---poppins);
    background-color: var(---main_color);
    letter-spacing: .17rem;
    border: none;
    color: white;
    transition: .4s ease-in-out;
    cursor: pointer;
    margin: 0rem 1rem;
  }
  
}