@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


* {
  padding: 0;
  margin: 0;
}

:root {
  ---open: "Open Sans", sans-serif;
  ---poppins: Poppins, sans-serif;
  ---main_color: #f28123;
  ---sec_color: #051922
}

html {
  scroll-behavior: smooth;


}


.dim-overflow{
  overflow: hidden;
}



footer {
  max-height: 100rem;
}


.layout {
  width: 100%;
  max-height: 5000rem;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}



header {
  position: fixed;
  z-index: 12;
}



main {
  height: 100%;
  width: 100%;
  margin-bottom: 10rem;
 
}

.navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 1rem;
  align-items: center;
  padding: 2rem 0rem;
  position: fixed;
  margin-top: 2rem;
  transition: .1s ease;


}


.navbar-container.active {
  background-color: var(---sec_color);
  position: fixed;
  margin-top: 0rem;

}





.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(---main_color);
  font-family: var(---open);

}


.logo-icon {
  font-size: 2.4rem;
  font-weight: 700;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.nav-items-mobile{
  display: none;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  font-size: 14px;
  font-family: var(---open);
  font-weight: 700;
  transition: .4s ease-in-out;
  color: #ffffff
}

.nav-items li a:hover {
  color: var(---main_color)
}

.hamburger-menu{
  display: none;
}

.close-menu{
  display: none;
}

.cart-search-nav {
  display: flex;
  justify-content: space-between;
  width: 5%;
  font-size: 18px;
  font-weight: 900;

}

.cart-nav,
.search-nav {
  transition: .4s ease-in-out;
  cursor: pointer;
  color: #ffffff
}

.search-nav {
  font-size: 1.3rem;
}

.cart-nav:hover,
.search-nav:hover {
  color: var(---main_color)
}

.cart-button,
.search-button {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background-color: transparent;
}

.cart-item-qty {
  position: absolute;
  right: -17px;
  font-family: var(---open);
  top: -8px;
  font-size: 12px;
  color: #eee;
  background-color: var(---main_color);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 700;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(---main_color);
  transform-origin: 0%;
  z-index: 14;
}


@media (max-width:1300px) {

  .nav-items {
    width: 40%;
  }
}

@media (max-width:992px) {


  header{
    display: flex;
    justify-content: center;
    width: 100%;
    position: static;
    z-index: 45;
  }
  
  .navbar-container{
    width: 95%;
    justify-content: space-between;
    position: absolute;
    z-index: 12;
 
  }

  .navbar-container.active {
    
    position: static;
    margin-top: 0rem;
   
  
  }

  
  
  

  .nav-items{
    display: none;
  }
  
  .nav-items-mobile {
    display: flex;
    flex-direction: column;
    background-color: var(---sec_color);
    position: absolute;
    height: 55vh;
    width: 100%;
    top:4.5rem;
    padding: 1rem 0rem;
    animation: hamburger .5s ease-in;
    border-radius: 1rem;
    
  }


  @keyframes hamburger {
    from{
      opacity: 0;
      transform: translateY(-100px);
    }
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .nav-items-mobile li{
    margin-left: 2rem;
    margin-right:2rem ;
    border-bottom:1px solid rgb(134, 117, 84);
    padding: 1.9rem 0rem;
  }

  .nav-items-mobile li {
    list-style: none;
  }
  
  .nav-items-mobile li a {
    text-decoration: none;
    font-size: 14px;
    font-family: var(---open);
    font-weight: 700;
    transition: .4s ease-in-out;
    color: #ffffff
  }
  
  .nav-items-mobile li a:hover {
    color: var(---main_color)
  }
  

  .hamburger-menu{
    color:var(---sec_color);
    background-color: var(---main_color);
    padding: .5rem .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: block;
    transition: 1s ease;
    border-radius: .7rem;
  }

  .close-menu{
    color:var(---sec_color);
    background-color: var(---main_color);
    padding: .5rem .5rem;
    font-size: 1.4rem;
    cursor: pointer;
    display: block;
    transition: 1s ease;
    display: block;
    border-radius: .7rem;
  }

  .cart-search-nav{
    width: 15%;
  }

}

@media (max-width:768px) {
  
  .cart-search-nav{
    width: 15%;
  }


}

@media (max-width:500px) {
  
  .cart-search-nav{
    width: 30%;
  }

}