:root {
    ---open: "Open Sans", sans-serif;
    ---poppins: Poppins, sans-serif;
    ---main_color: #f28123;
    ---sec_color: #051922
}

/* main home div */
.home-container {
    width: 100%;
    height: 100%;

}


/* Start component */
.start-container {
    height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.4))), url('../images/home-hero-2.jpg');
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../images/home-hero-2.jpg');
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url('../images/home-hero-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.home-main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;

}

.home-main-header p {
    color: var(---main_color);
    font-weight: 700;
    font-size: 15px;
    font-family: var(---open);
    letter-spacing: .5rem;
}

.home-main-header h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 64px;
    font-family: var(---poppins);

}

.home-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
}

.home-buttons button{
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.home-buttons button:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.collection-button {
    font-size: 14px;
    font-family: var(---poppins);
    font-weight: 400;
    border-radius: 1.2rem;
    width: 9.5rem;
    height: 3rem;
    border: none;
    background-color: var(---main_color);
    color: white;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    cursor: pointer;
}

.collection-button:hover {
    color: var(---main_color);
    background-color: var(---sec_color);

}

.contact-button {
    font-size: 14px;
    font-family: var(---poppins);
    font-weight: 400;
    border-radius: 1.2rem;
    width: 9.5rem;
    height: 3rem;
    border: 1px solid var(---main_color);
    background-color: transparent;
    color: white;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
    cursor: pointer;
}

.contact-button:hover {
    background-color: var(---main_color);
}

@media (max-width:992px) {


    .home-main-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 3rem;
        margin: 0% 5%;

    }

    .home-main-header h1 {
        font-size: 50px;
    }

    .home-main-header p {
        font-size: 13px;
        text-align: center;
    }

}

@media (max-width:768px) {

    .home-main-header h1 {
        font-size: 30px;
    }

    .home-buttons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        gap:2rem;
    }

    .home-buttons button{
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width:500px) {
    
    .home-main-header h1 {
        font-size: 25px;
        text-align: center;
    }
}