:root {
    ---open: "Open Sans", sans-serif;
    ---poppins: Poppins, sans-serif;
    ---main_color: #f28123;
    ---sec_color: #051922;
    ---head_color: #374b56;
  }

  .shop-container{
    width: 100%;
    height: 100%;
 
  }

  .shop-start-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 57vh;
    background-color:var(---head_color);
    background-attachment: fixed;
    align-items: center;
    justify-content: center
  }

  .shop-start-header{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap:2rem;
    margin-top: 4rem;
  }

  .shop-start-header p{
    font-family: var(---open);
    font-weight: 700;
    font-size:14px;
    color: var(---main_color);
    letter-spacing: .5rem;
  }

  .shop-start-header h1{
    font-family: var(---poppins);
    font-weight: 900;
    font-size:50px;
    color: #ffffff;

  }

/* List Products section */

.list-products-container{
  width: 100%;
  max-height: 150rem;
  padding-top: 9rem;
}

.list-products-wrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:6rem;
 
}

.selectors{
  display: flex;
  gap:4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 4rem;

}

.selectors button{
  width: 9rem;
  border: 2px solid var(---sec_color);
  font-size:18px;
  font-family: var(---open);
  font-weight: 700;
  border-radius: 1.3rem;
  height: 3rem;
  background-color: white;
  cursor: pointer;

}

.selectors button:focus{
  color: white;
  background-color: var(---main_color);
  border: none;
}

.selectors button:hover{
  color: white;
  background-color: var(---main_color);
  border: none;
}

.selectors .all-selector{
  width: 5rem;
}

.selectors .compound-selector{
  width: 12rem;
}

.list-products-wrapper input{
  height: 3rem;
  width: 30rem;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  font-family: var(---open);
  border-radius: .9rem;
  border: none;
  border-bottom: 1px solid var(---main_color);
}

.list-products-wrapper input::placeholder{
  color: rgb(80, 77, 77);
}

.products-show{
  display: grid;
    width: 80%;
    height:85%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:2rem;
    
}

.pagination{
  display: flex;
  gap:2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-self: center;
  list-style: none;
}



.page-num{
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: var(---open);
  font-size: 15px;
  font-weight:600 ;
  color:#6f6f6f;
  cursor: pointer;  
}

.pagination .page-num:hover{
  background-color: var(---main_color);
}

 .pagination .active{
 background-color: var(---main_color);
}