:root {
    ---open: "Open Sans", sans-serif;
    ---poppins: Poppins, sans-serif;
    ---main_color: #f28123;
    ---sec_color: #051922
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem;
    height: 25rem;
    width: 100%;
    position: relative;

}

.history-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 80%;
}

.history-left {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/fruit-basket.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.dim {
    z-index: 13;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    overflow-y: hidden;

}



.dim.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 1s ease;
}

.dim.active > {
    overflow: hidden;
}

.play-icon-wrapper {
    color: var(---sec_color);
    background-color: #f28123;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 18px 2px rgb(255, 249, 249, 0.8);
    transition: .4s ease;
}

.play-icon {
    font-size: 20px;
}

.play-icon-wrapper:hover {
    color: var(---main_color);
    background-color: var(---sec_color);
}

.video-wrapper {
    position: absolute;
    height: 30rem;
    width: 70%;
    z-index: 14;
    margin-left: -4rem;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.close-video {
    align-self: flex-end;
    font-size: 1.5rem;
    cursor: pointer;
    color: #5b5b5b;
    animation: close-anim 1.2s ease-in;
}

@keyframes close-anim {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.history-right {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.since-year {
    font-size: 15px;
    font-weight: 400;
    font-family: var(---open);
    color: var(---open);
}

.we-are-fruitku {
    font-family: var(---poppins);
    font-weight: 700;
    font-size: 42px;
    color: var(---sec_color);
}

.we-are-fruitku span {
    color: var(---main_color);
}

.history-story {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: var(---open);
    font-weight: 400;
    font-size: 15px;
    color: var(---sec_color);
}

.history-button {
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    color: white;
    background-color: var(---main_color);
    border: none;
    padding: 0rem 1rem;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-family: var(---poppins);
    font-weight: 400;
    font-size: 14px;
}

.history-button:hover {
    background-color: var(---sec_color);
    color: var(---main_color)
}

@media (max-width:992px) {
    
    .history-container {
        height: 60rem;
        width: 100%;
    }
    
    .history-wrapper {
        display: flex;
        flex-flow: row wrap;
        height: 100%;
        width: 80%;
    }

    .history-left{
        width: 100%;
        height: 25rem;
    }

    .video-wrapper {
        position: absolute;
        height: 22rem;
        width: 70%;
        z-index: 14;
        margin-left: -1rem;
        margin-top: -5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
}

@media (max-width:768px) {
   
    .history-wrapper{
        width: 100%;
    }

    .history-right{
        padding: 2rem 2rem;
    }

    .video-wrapper {
        position: absolute;
        height: 26rem;
        width: 100%;
        z-index: 14;
        margin-left: -1rem;
        margin-top: -5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}